
@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@500&display=swap');

body {
    background: black;
}

.clock {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #00eeff;
    font-family: 'Kiwi Maru', serif;
    font-size: 60px;
    letter-spacing: 7px;
}